

:root {
  --brightest: hsla(193, 100%, 50%, 1);
  --darkest: hsla(193, 100%, 21%, 1);
  --lightest: hsla(193, 100%, 88%, 1);
  --transparent: hsla(193, 100%, 64%, 0.2);

  --brightest2: hsla(208, 100%, 60%, 1);
  --darkest2: hsla(208, 100%, 40%, 1);
  --lightest2: hsla(208, 100%, 90%, 1);
  --transparent2: hsla(208, 100%, 65%, 0.1);

  --darkpurple:hsla(270, 100%, 50%, 1);
  --brightpurple: hsla(270, 100%, 70%, 1);

  --greenest: hsla(149, 100%, 30%, 1);
  --greenest2: hsla(149, 100%, 40%, 1);
}
* {
  box-sizing: border-box;
}

article{
  background-color: var(--transparent) ;
  color: var(--darkest);
  padding: 0.3rem;
}

/* article p {
  background-color: var(--lightest);
  color: var(--darkest);
} */



body {
  margin: 1rem;
  font: 1.2rem/1.4 Georgia, serif;
  background-color: rgb(154, 208, 244);
}
.quote {
  margin: 0;
  background: #eee;
  padding: 1rem;
  border-radius: 1rem;
}
.quote figcaption,
.quote blockquote {
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightest2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.item{
  padding-left: 1rem;
  padding-right: 1rem;
  
}

.item-text{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: var(--greenest)
}

h1{
  font-size:3rem;
}
h2{
  font-size:2.2rem;
}
h3{
  font-size:1.8rem;
}
h4{
  font-size:1.5rem;
}
h5{
  font-size:1.2rem;
}
h6{
  font-size:1rem;
}


article {
  margin-top: 2rem;
  max-width: 42rem;
  margin-left: 25%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

aside {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.quote {
  
  max-width: 40rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.quote h4{
  display: flex;
  justify-content:center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--greenest);
}

figcaption:nth-child {
  
  margin-left:0.3rem;
  margin-right: 0.3rem;
}

.modal{
  display: flex;
  justify-content: center;
}

footer {
  font-size: 0.5rem;
  color: var(--greenest); 
  display: flex;
  justify-content: center;
}

ul {
  color: var(--brightest2);
}
li {
  color: var(--brightpurple);
}

.column{
  float:left;
  width:23%;
  margin-right: 2%;
}

.column-wide{
  float:left;
  width:64%;
  margin-right: 2%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1,h2,h3,h4,h5,h6{
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
}

.container{
  position:absolute;
  top:30%;
  width:100%;
  z-index: 9999;
}
.btn-container{
  text-align: center;
}
.closeBtn{
  border-radius: 3px;
  height: 2rem;
  width: 6rem;
  background-color: var(--greenest2);
  transition: background-color 0.5s ease;
}
.closeBtn:hover{
  transition: background-color 0.5s ease;
  background-color: var(--greenest);
}