

:root {
  --brightest: hsla(50, 100%, 50%, 1);
  --darkest: hsla(50, 100%, 20%, 1);
  --middle: hsla(50, 100%, 70%, 1);
  --middlet: hsla(50, 100%, 70%, 0.3);
  --lightest: hsla(50, 100%, 90%, 1);
  --transparent: hsla(50, 100%, 65%, 0.1);

  --brightest2: hsla(208, 100%, 50%, 1);
  --darkest2: hsla(208, 100%, 30%, 1);
  --lightest2: hsla(208, 100%, 90%, 1);
  --transparent2: hsla(208, 100%, 65%, 0.1);
}
* {
  box-sizing: border-box;
}

article{
  background-color: var(--transparent) ;
  color: var(--darkest);
}

article p {
  background-color: var(--lightest);
  color: var(--darkest);
}



body {
  margin: 1rem;
  font: 1.2rem/1.4 Georgia, serif;
}
.quote {
  margin: 0;
  background: #eee;
  padding: 1rem;
  border-radius: 1rem;
}
.quote figcaption,
.quote blockquote {
  margin: 1rem;
}